@mixin verticalCenter {
    max-width: 1000px;
    margin: auto !important;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Lato;
    text-decoration: none;
}

body {
    background-color: #FFD7D7;
    @include verticalCenter;
}

li {
    list-style-type: none;
}

textarea {
    align-items: center;
    width: 80%;
    height: 90px;
}