/* -----------------Globlal site -------------------*/

form {
    width: 200px;
    margin: 0 auto;
    margin-top: 10%;
}

.connectionTitle {
    color: #FD2D01;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.connectionIdent {
    display: flex;
    justify-content: center;
    color: #4E5166;
    text-align: center;
}

.connectionCreateUser {
    padding-left: 5%;
}

/* -----------------Page Home et MyPosts -------------------- */

.publications {
    display: flex;
    justify-content: center;
    color: black;
    margin-bottom: 5%;
}

.pagePosts {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.connectionCreateUser {
    margin-left: 12%;
    margin-top: 5%;
}

.date {
    font-size: small;
}

@media all and (min-width: 768px) and (max-width: 991px) {
    .pagePosts {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .publications {
        text-align: center;
    }
}

@media all and (max-width: 768px) {
    .pagePosts {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .publications {
        text-align: center;
    }
}

/* ---------------Page Admin ---------------------------------*/

.noAdmin {
    color: #FD2D01;
}